* {
    box-sizing: border-box;
}

html {
    font-family: "Palanquin", "sans-serif";
    line-height: 120%;
}

body {
    margin: 0;
}

header {
    height: clamp(79px, calc(-035px + 016vh), 128px);
    background-color: #E76C1F;
    display: flex;
    justify-content: space-between;
}

.headContainer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(20px, calc(-040px + 015vw), 80px);
}

.burgerMenu {
    width: 40px;
    height: 40px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.line {
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.rotatePositive {
    animation: turnLeft 1s linear;
    transform: rotate(45deg) translate(-4px, -4px);
    top: 4px;
}

.rotateNegative {
    animation: turnRight 1s linear;
    transform: rotate(-45deg) translate(-4px, 4px);
}

.posRel {
    position: relative;
}

.hero {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atfImg {
    max-width: 1440px;
    width: 100%;
    height: 508px;
    margin-top: -69px;
    background-image: url("/assets/img/food_small_13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
}

.headLine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -150px;
    text-align: center;
}

.circle {
    width: 226px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 113px;
    background-color: #FDEADC;
}

.circleImg {
    width: 200px;
    border-radius: 100px;
}

h1 {
    font-size: clamp(36px, 2.36rem + 0.71vw, 48px);
    font-weight: 700;
    padding: 0 16px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 16px;
}

.contentBox {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
}

footer {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E76C1F;
}

.footerBox {
    max-width: 531px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }
}

.dNone {
    display: none !important;
}

@media (max-width: 1050px) {
    footer {
        margin-bottom: 78px;
    }
}

@media (max-width: 700px) {
    .footerBox {
        padding: clamp(20px, calc(-0480px + 042vw), 120px);
    }
}

@media (max-width: 400px) {
    .footerBox {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-height: 1000px) {
    header {
        height: clamp();
    }
}

@keyframes turnLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}

@keyframes turnRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg) translate(-4px, 4px);
    }
}