* {
    box-sizing: border-box;
}

html {
    font-family: "Palanquin", "sans-serif";
    line-height: 120%;
}

body {
    margin: 0;
}

header {
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.headContainer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.burgerMenu {
    width: 40px;
    height: 40px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.line {
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.rotatePositive {
    animation: turnLeft 1s linear;
    transform: rotate(45deg) translate(-4px, -4px);
    top: 4px;
}

.rotateNegative {
    animation: turnRight 1s linear;
    transform: rotate(-45deg) translate(-4px, 4px);
}

.posRel {
    position: relative;
}

.hero {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atfImg {
    max-width: 1440px;
    width: 100%;
    height: 508px;
    margin-top: -69px;
    background-image: url("/assets/img/food_small_13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
}

.headLine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -150px;
}

.circle {
    width: 226px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 113px;
    background-color: #FDEADC;
}

.circleImg {
    width: 200px;
    border-radius: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.contentBox {
    display: flex;
}

.mealsSection {
    max-width: 1440px;
    width: calc(100% - 435px);
    margin-bottom: 123px;
    padding-left: clamp(20px, calc(-0480px + 042vw), 120px);
}

.mealsSectionHeadlines {
    height: 92px;
    display: flex;
    align-items: flex-end;
    gap: 32px;
    margin-top: 45px;
    margin-bottom: 24px;
    padding-left: clamp(0px, calc(-060px + 08vw), 48px);
}

.textBox {
    height: 60px;
    display: flex;
    align-items: center;
}

.categoryTitle {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.backgroundColor {
    height: 60px;
    left: 0;
    right: 0;
    max-width: 100vw;
    width: 100%;
    position: absolute;
    background-color: #E76C1F;
    z-index: -1;
}

.mealBox {
    max-width: 713px;
    width: 100%;
    display: flex;
    background-color: #FDEADC;
    border-radius: 12px;
    padding: 10px;
    gap: 15px;
}

.mealImg {
    max-width: 207px;
    width: 100%;
    height: 121px;
    border-radius: 12px;
    object-fit: cover;
}

.informationsBox {
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-between;
}

.discriptionBox {
    display: flex;
    flex-direction: column;
}

h5 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
}

.ingredient {
    font-size: 16px;
    font-weight: 500;
}

.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 115px;
    width: 100%;
}

.price {
    text-align: end;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 8px;
    color: black;
    border-width: 0;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

button:hover {
    cursor: pointer;
    color: #E76C1F;
    box-shadow: 1px 2px 2px 0px #00000033;
}

footer {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E76C1F;
}

.footerBox {
    max-width: 531px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }
}