.basket {
    height: 794px;
    position: sticky;
    width: 435px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 77px;
    padding: 60px 16px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #363534;
}

.basketTitle {
    font-size: 32px;
    font-weight: 700;
    color: #FDEADC;
    margin-bottom: 36px;
}

.basketContent {
    max-width: 340px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
}

.dishes {
    display: flex;
    max-height: 355px;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    overflow-y: auto;
}

.mealBasketBox {
    width: 100%;
    /* max-height: 129px; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: #FDEADC;
    gap: 8px;
    font-weight: 700;
    font-size: 22px;
}

.titleBasketLine {
    max-width: 232px;
    /* min-height: 26px; */
    /* max-height: 52px; */
    /* height: 100%; */
    line-height: 26px;
    display: flex;
    font-weight: 700;
    font-size: 22px;
    gap: 6px;
}

.Famount {
    display: flex;
}

.mealTitel {
    white-space: wrap;
}

.bottomBasketBox {
    /* width: 100%; */
    height: 29px;
    display: flex;
    justify-content: space-between;
}

.leftBasketBox {
    display: flex;

    img {
        width: 24px;
        height: 24px;
    }
}

.rightBasketBox {}

.addButton {
    display: block;
    color: black;
}

.addedButton {
    display: block;
    color: #E76C1F;
}

.addedButton:hover {
    cursor: default;
    box-shadow: none;
}






.emptyBasked {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.basketTextBox {
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 8px;
}

p {
    color: #FDEADC;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.buttomBox {
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculationTable {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.subTotalLine {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.deliverFee {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.decorationLine {
    max-width: 340px;
    width: 100%;
    height: 3px;
    background-color: white;
}

.totalLine {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
}

.orderButton {
    height: 64px;
    border-radius: 60px;
    background-color: #E76C1F;
    color: #FBFBFB;
}

.orderButton:hover {
    color: #FBFBFB;

}